.search-bar {
    cursor: pointer;
    display: block;
  }
  .header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(224, 224, 224);
  }

  .left-section{
    display: flex;
    align-items: center;
  }
  .hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .youtube-logo{
    height: 24px;
  }

  .middle-section{
    display: flex;
    flex:1;
    align-items: center;
    margin-left: 70px;
    max-width: 500px;
  }
  .search-bar{
    flex:1;
    height: 34px;
    padding-left: 10px;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    margin-right: -1px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: inset 1px 2px 2px 
    rgba(0, 0, 0, 0.06);
    width: 0;
  }
  .search-bar::placeholder{
    font-family: Roboto, Ariel;
    font-size: 16px;
  }
  .search-button{
    height: 39px;
    width: 60px;
    margin-left: -1px;
    margin-right: 15px;
    border-radius: 0px 15px 15px 0px;
    border-style: solid;
    border-color: rgb(222, 221, 221);
    background-color: rgb(255, 255, 255);
  }
  .search-icon{
    height: 24px;
    margin-top: 4px;
  }
  .voice-button{
    height: 38px;
    width: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(236, 235, 235);
 }
 .voice-icon{
  height: 24px;
  margin-top: 4px;
 }
  

  .right-section{
    width: 180px;
    margin-left: 24px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink:0 ;

  }

  .upload-icon{
  height: 30px;
  }
  .youtube-apps-icon{
    height: 30px;
  }

  .notifications-icon{
    height: 30px;
  }
  .current-user-picture{
    height: 40px;
    border-radius: 20px;
  }